<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/site.css" />
</head>
<body>

    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Top bar -->
        <div class="w-100 bg-dark p-4 text-light d-xl-flex align-items-center justify-content-between px-5">
            <h1>Maskoo</h1>
            <p class="m-0">Simple notebook, by a dev, for the devs</p>
        </div>

        <!-- Content -->
        <div class="wrapper-content">

            <!-- Left menu bar -->
            <div class="left-menu bg-dark text-light">
                <div class="p-2">Diary</div>
                <div class="p-2">Toolbox</div>
                <div class="p-2">Notes</div>
            </div>

            <!-- Render body -->
            <div>
                @RenderBody()
            </div>

        </div>

    </div>

    <!-- Scripts -->
    <script src="static/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/site.js" asp-append-version="true"></script>

</body>
</html>
